{
	margin: 0;
	padding: 0;
}html,
body
{
	height: 100%;
	width: 100%;
	/* This pattern is downloaded from www.subtlepatterns.com If you need more, that's where to get'em.*/
	background-image: url('pictures/shattered.png');
}
.bgtop
{
	background: url('http://rzeszow.rdos.gov.pl/files/karuzele/1435/RDOS_rzeszow_TOP_03_C_Korkosz_1_image_carousel_background.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.post 
{
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
